.img-wrap{
  position: relative;
  padding: 10px;

  .img-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(center, center);
    overflow: hidden;
  
    .img {
      transition-duration: 0.3s;
    }
  }

  @mixin ratio() {
    $width-max: 16;
    $height-max: 9;
    
    @for $i from 1 through $width-max {
      @for $j from 1 through $height-max {
        &.ratio-#{$i}-#{$j} {
          padding: 0;
          padding-top: ($j/$i)*100%;
        }
      }
    }
  }

  @include ratio();  
}
