<section id="skills" class="section section-skills">
  <div class="banner">
    <div class="banner-textarea">
      <h1 class="banner-title">Each card below creates its own Shadow-root</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h1 class="section-title">Abstract skills section.</h1>
    </header>
    <article class="section-body">
  
      <div class="grid">
        <div class="col col-12 col-6s col-4m col-3l">
          <div id="card-gulp" class="card card-skills">
            <div class="card-wrap">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                  <div class="img-wrap ratio-1-1">
                    <div class="img-content">
                      <img class="img" src="images/skills/gulp.svg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Gulp4
                  </h2>
                  <p class="card-description">
                    Assembling websites via <a class="skill-link" href="https://gulpjs.com/" target="_blank">Gulp</a> task manager for quick and automatic running of time-consuming tasks: adding vendor prefixes, minifying code, optimizing images, translating SCSS into CSS
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l">
          <div id="card-resp" class="card card-skills">
            <div class="card-wrap">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/responsive.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Responsive
                  </h2>
                  <p class="card-description">
                    Creating mobile-first, responsive websites perfectly customized for main screen sizes
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l">
          <div id="card-browser" class="card card-skills">
            <div class="card-wrap">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/explorer.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Cross-browser
                  </h2>
                  <p class="card-description">
                    Using auto-prefixers, caniuse.com website database and other tools to make websites compatible with major browsers
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l">
          <div id="card-pixel" class="card card-skills">
            <div class="card-wrap">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/pixel.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Pixel-perfect
                  </h2>
                  <p class="card-description">
                    Using browser plugins and dedicated design tools (Avocode, Figma, Photoshop) to make websites looc identical to their designs
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </article>
  </div>
</section>