.card-wrap {
    border-radius: 15px;
    background-color: #23b7a4;
    -webkit-box-shadow: 0 20px 20px rgba(39, 179, 109, 0.3);
            box-shadow: 0 20px 20px rgba(39, 179, 109, 0.3);
}

.card-wrap:hover {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
} 

.card-media {
    margin-bottom: 30px;
}

.img {
    height: 70px;
}

.card-title {
    font-size: 26px;
    color: white;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
}

.card-description {
    color: #da4648;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
}