* {
    box-sizing: border-box;
}

.card-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 8px 28px rgba(0,0,0,0.3);
    border-radius: 8px;
    transition-duration: 0.3s;
    flex-direction: column;
    padding: 18px;
}

.card-wrap:hover {
    transform: scale(1.05);
} 

.card-media {
    margin: 0 auto;
    max-width: 100px;
    margin-bottom: 15px;
}

.img {
    height: 55px;
}

.card-header {
    position: relative;
    width: 100%;
}

.card-body-wrap {
    width: 100%;
}

.card-title {
    width: 100%;
    margin: 0;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 15px;
}

.card-description {
    text-align: left;
    font-size: 16px;
    line-height: 22px;;
    margin-top: 0;
    color: #697685;
}

.img-content {
    text-align: center;
}