.card-wrap {
    border-radius: 40px;
    background-color: #da4648;
    box-shadow: 0 20px 28px rgba(148, 1, 1, 0.3);
}

.card-wrap:hover {
    transform: scale(0.95);
} 

.card-media {
    margin-bottom: 40px;
}

.img {
    height: 100px;
}

.card-title {
    font-size: 30px;
    color: #23b7a4;
    text-align: right;
    margin-bottom: 65px;
    margin-top: 20px;
    text-transform: none;
}

.card-description {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: right;
}